@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SportFlowCustomers.CustomersOrders.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SportProductApp.SportFlowCustomers.CustomersOrdersGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>