@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.SportFlow.Customers.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SportProductApp.SportFlow.CustomersGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>